.row-header{
    margin: 0px auto;
    padding: 0px;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.row-footer{
    background-color: #C4D1E6;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron{
    background: #9575CD;
    color: floralwhite;
    margin: 0px auto;
    padding: 70px 30px 70px 30px;
}
.address{
    font-size: 80%;
    margin: 0px auto;
    color: #010203;
    padding: 10px 10px 10px 10px;
}
.history{
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark{
    background-color: #512DA8;
}
.tab-content{
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 10px;
}
.loginform{
    padding: 70px 30px 70px 30px;
    background-color: #7C4DFF;
}